.loss-count-visible {
  opacity: 1;
}

.loss-count-hidden {
  opacity: 1;
  color: red;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  70% {
    opacity: 0.8;
    color: maroon;
  }
  0% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes existing {
  0% {
    color: rosybrown;
  }
  100% {
    color: white;
  }
}

.troop-display-icon {
  animation: existing 0.5s forwards;
  overflow: hidden;
  height: 1rem;
}

.width-transition {
  transition: width 0.5s;
}
