.article-body {
  display: flex;
  flex-direction: row;
}

.article-entry {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  max-width: 40rem;
  width: 90%;
  align-items: center;
  display: flex;
  flex-direction: column;
  line-break: inherit;
  white-space: pre-wrap;
  backdrop-filter: blur(2px);
  background: rgba(30, 30, 30, 0.8);
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}
.first-article {
  border-top: 1px solid gray;
}

.article-title {
  border-bottom: 1px solid white;
  text-align: start;
  width: 90%;
}
.article-content {
  margin-left: 3rem;
  margin-right: 3rem;
}

.article-sidebar {
  position: sticky;
  top: 20vh;
  margin-right: 1rem;
  min-width: 6rem;
  background-color: #005e7c;
  padding: 1rem;
  color: white;
  text-decoration-color: darkturquoise;
}

.article-sidebar-list {
  list-style-type: none;
  padding-left: 1rem;
}

.article-sidebar-list > li > a {
  text-decoration: none;
  color: deepskyblue;
}
