.name-page {
  height: 95vh;
  min-height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.omega-title {
  padding-top: 20vh;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Inter Tight", sans-serif;
}
.content-section {
  border-top: 1px solid gray;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}
.body-section {
  display: flex;
  flex-direction: column;
}
.article-sidebar {
  flex-direction: row;
  display: inline-block;
}
