.name-page {
  height: calc(100vh - 3rem);
  min-height: calc(100vh - 3rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: cadetblue;
  width: 100%;
}

.static {
  position: fixed;
  /* z-index: -1; */
}

.omega-title {
  padding-top: 20vh;
  font-size: 3rem;
  font-weight: 400;
  font-family: "Inter Tight", sans-serif;
}
.content-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
  /* background-color: red; */
}
.content-section > * {
  z-index: 1;
}

.body-section {
  display: flex;
  flex-direction: column;
}
.article-sidebar {
  flex-direction: row;
  display: inline-block;
}
