.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: dimgray;
  width: 100%;
}
.nav-container {
  position: sticky;
  width: 100dvw;
  top: 0;
}
.navbar > li {
  display: inline-block;
}
.navlink {
  color: white;
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.start-bottom {
  top: calc(3rem - 100vh);
  transform: translate(0px, calc(100vh - 3rem));
}
