.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: dimgray;
  width: 100%;
  transition: all 0.2s ease;
}
.nav-container {
  position: sticky;
  width: 100dvw;
  transition: all 0.25s;
}
.navbar > li {
  display: inline-block;
}
.navlink {
  color: white;
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.start-bottom {
  top: -90vh;
  transform: translate(0px, 90vh);
}
