.article-body {
  display: flex;
  flex-direction: row;
}

.article-entry {
  border-top: 1px solid gray;
  max-width: 40rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.article-sidebar {
  position: sticky;
  top: 20vh;
  margin-right: 1rem;
}

.article-sidebar-list {
  list-style-type: none;
}

.article-sidebar-list > li > a {
  text-decoration: none;
}
